main {
  background-color: #fefefe;
}
main #jumbotron {
  position: relative;
  width: 100%;
  height: 700px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FDC234;
  background-image: linear-gradient(#FDC234 69%, #fefefe 95%);
  background-image: url("../img/jumb-3.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
main #jumbotron .layover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(253, 194, 52, 0) 69%, #fefefe 95%);
}
main #jumbotron .container {
  display: flex;
  justify-content: center;
  padding-top: 8%;
  padding-left: 5%;
}
main #jumbotron .container .title {
  width: 50%;
  padding-top: 30px;
  padding-left: 10;
  color: black;
  font-weight: bold;
  font-size: 50px;
}
main #jumbotron .container .title h1, main #jumbotron .container .title .h1 {
  font-size: 4.25rem;
  font-weight: 900 !important;
}
main #jumbotron .container .jumb-img {
  width: 50%;
}
main #jumbotron .container .jumb-img img {
  width: 100%;
}
main #service {
  position: relative;
}
main #service h1 {
  position: absolute;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
}
main #service .box-cards {
  display: flex;
  padding-top: 80px;
}
main #service .box-cards .service-card {
  width: calc(100% / 3 - 20px);
  text-align: center;
  margin: 10px;
}
main #food {
  width: 100%;
  padding: 5% 0;
}
main #food .box-cards {
  display: flex;
}
main #food .box-cards .card_food {
  width: calc(100% / 4 - 20px);
  margin: 10px;
}
main #food .box-cards .card_food img {
  width: 200px;
}
main #carousel-type marquee {
  margin-top: 4%;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
}
main #carousel-type marquee div {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
main #carousel-type marquee div img {
  overflow: hidden;
  border-radius: 5px;
}
main #carousel-type marquee div h5 {
  position: absolute;
  bottom: 0;
  left: 22px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
main #restaurants {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
}
main #restaurants .card_rest {
  position: relative;
  margin: 10px;
  height: 200px;
  width: calc(100% / 3 - 20px);
  border-radius: 20px;
  overflow: hidden;
  color: white;
  transition: 1s;
}
main #restaurants .card_rest:hover {
  cursor: pointer;
  transform: scale(1.025);
}
main #restaurants .card_rest:hover .overlay {
  width: 80%;
  transition: 1s;
}
main #restaurants .card_rest:hover h3 {
  transform: translate(-120%);
  opacity: 0;
  font-size: 36px;
}
main #restaurants .card_rest img {
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}
main #restaurants .card_rest h3 {
  position: absolute;
  margin: 20px;
  display: inline-block;
  transition: 1.5s;
  font-size: 36px;
}
main #restaurants .card_rest .overlay {
  display: inline-block;
  position: absolute;
  right: -40px;
  padding: 20px;
  height: 100%;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  z-index: 2;
}
main #restaurants .card_rest .overlay h2 {
  margin: 10px 0 0 10px;
}
main #restaurants .card_rest .overlay p {
  margin: 10px 0 0 10px;
}
main #restaurants .card_rest .overlay p:nth-of-type(2) {
  margin: 0 0 0 10px;
}

#login-page {
  display: flex;
  align-items: center;
  height: calc(100vh - 55px);
  background-color: #fefefe;
  background-image: linear-gradient(90deg, #fefefe 57%, #FDC234 43%);
}
#login-page .card {
  width: 100%;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
  border: 0px;
}
#login-page .card .card-header-1 {
  padding: 10% 13%;
}
#login-page .card .login-card {
  display: flex;
}
#login-page .card .login-card .card-body {
  width: 60%;
}
#login-page .card .login-card .card-body form {
  padding-bottom: 20%;
}
#login-page .card .login-card .card-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40%;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #FDC234;
}
#login-page .card .login-card .card-img img {
  width: 80%;
}

/* SM */
@media screen and (max-width: 980px) {
  #login-page .card .card-header-1 {
    padding: 8% 0%;
  }
}
/* XS */
@media screen and (max-width: 770px) {
  #login-page {
    display: block;
    background-color: #FDC234;
    background-image: linear-gradient(#FDC234 51%, #fefefe 67%);
  }
  #login-page .card {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    border: 0px;
    background-color: transparent;
  }
  #login-page .card .card-header-1 {
    padding: 3% 0%;
  }
  #login-page .card .login-card {
    flex-direction: column-reverse;
    width: 100%;
  }
  #login-page .card .login-card .card-body {
    width: 100%;
  }
  #login-page .card .login-card .card-body form {
    padding-bottom: 0%;
  }
  #login-page .card .login-card .card-img {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FDC234;
  }
  #login-page .card .login-card .card-img img {
    margin-top: 20px;
    width: 50%;
  }
}
/* Extra XS */
@media screen and (max-width: 470px) {
  #login-page {
    background-image: linear-gradient(#FDC234 51%, #fefefe 67%);
  }
  #login-page .card .login-card .card-body {
    padding: 0 10px;
  }
  #login-page .card .login-card .card-img img {
    width: 70%;
  }
}
#register-page {
  display: flex;
  align-items: center;
  height: calc(100vh - 55px);
  background-color: #fefefe;
  background-image: linear-gradient(90deg, #fefefe 57%, #FDC234 43%);
}
#register-page .container {
  display: flex;
  align-items: center;
}
#register-page .container .right-side {
  width: 60%;
}
#register-page .container .right-side .register-box h1 {
  padding-left: 16%;
  padding-bottom: 20px;
}
#register-page .container .right-side .register-box .form-register {
  width: 100%;
}
#register-page .container .left-side {
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
}
#register-page .container .left-side img {
  width: 100%;
}

@media screen and (max-width: 770px) {
  #register-page {
    height: 100%;
    background-color: #FDC234;
    background-image: linear-gradient(#FDC234 51%, #fefefe 67%);
  }
  #register-page .container {
    flex-direction: column-reverse;
  }
  #register-page .container .right-side {
    width: 70%;
  }
  #register-page .container .right-side .register-box h1 {
    padding-top: 10px;
    padding-left: 0%;
    padding-bottom: 10px;
  }
  #register-page .container .right-side .register-box .form-register {
    width: 100%;
    padding-bottom: 20px;
  }
  #register-page .container .left-side {
    width: 100%;
  }
  #register-page .container .left-side img {
    width: 100%;
  }
}
footer {
  background-color: #1a1918;
  height: 100%;
  color: white;
  font-size: 20px;
}
footer .col-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px 0px;
}
footer .col-footer li:first-child {
  color: #FDC234;
}
footer .col-footer a {
  color: #FFFFFF;
}
footer .col-footer a:hover {
  text-decoration: none;
  color: #FDC234;
}
footer .col-footer img {
  display: block;
  margin: 20px 0px;
  max-width: 125px;
  cursor: pointer;
}
footer .col-footer img:hover {
  transform: scale(1.1);
}
footer .col-footer .logo {
  max-width: 150px;
}
