* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  color: #7a7a7a;
}
main #jumbotron {
  background-color: #FDC234;
}
main #types {
  background-color: #fefefe;
}
main #restaurants {
  background-color: #1a1918;
}

#jumbotron {
  position: relative;
  height: 500px;
  background-position: center;
  background-size: cover;
}
#jumbotron .dark-layer {
  padding: 100px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#jumbotron h1 {
  position: absolute;
  bottom: 100px;
  font-size: 64px;
  word-wrap: break-word;
  color: #fefefe;
  text-transform: uppercase;
}

#detail {
  background-color: bisque;
}
#detail #cards {
  width: 70%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
#detail #cards .card {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.25);
}
#detail #cart {
  width: 30%;
  border: 1px solid black;
}
