* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #7a7a7a;
}

::-webkit-scrollbar-thumb {
  background: #FDC234;
  border-radius: 10px;
}

main {
  background-color: #fefefe;
}
main #jumbotron {
  width: 100%;
  height: 100vh;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}
main #jumbotron .title {
  display: flex;
  justify-content: center;
  padding-top: 16%;
  color: black;
  font-weight: bold;
}
main #jumbotron marquee {
  margin-top: 4%;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  align-items: center;
  overflow: hidden;
}
main #jumbotron marquee div {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
main #jumbotron marquee div img {
  overflow: hidden;
  border-radius: 5px;
}
main #jumbotron marquee div h5 {
  position: absolute;
  bottom: 0;
  left: 22px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
main #restaurants {
  width: 100%;
  height: 1000px;
  padding: 5% 0;
  display: flex;
}
main #restaurants .card_rest {
  position: relative;
  width: calc(100% / 3 - 20px);
  margin: 10px;
  height: 200px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
}
main #restaurants .card_rest:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
  transition: all 0.4s;
}
main #restaurants .card_rest img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #restaurants .card_rest h5 {
  position: absolute;
  bottom: 0;
  left: 22px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

footer {
  background-color: #1a1918;
  height: 100%;
  color: white;
  font-size: 20px;
}
footer .col-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px 0px;
}
footer .col-footer li:first-child {
  color: #FDC234;
}
footer .col-footer a {
  color: #FFFFFF;
}
footer .col-footer a:hover {
  text-decoration: none;
  color: #FDC234;
}
footer .col-footer img {
  display: block;
  margin: 20px 0px;
  max-width: 125px;
  cursor: pointer;
}
footer .col-footer img:hover {
  transform: scale(1.1);
}
footer .col-footer .logo {
  max-width: 150px;
}

#jumbotron {
  height: 500px;
  background-position: center;
  background-size: cover;
}
#jumbotron .dark_layer {
  position: relative;
  padding: 100px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#jumbotron h1 {
  position: absolute;
  bottom: 100px;
  font-size: 64px;
  word-wrap: break-word;
  color: #fefefe;
  text-transform: uppercase;
}

#detail {
  height: 600px;
  background-color: #fee099;
}
#detail #cards {
  padding: 40px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
#detail #cards .card {
  margin: 10px;
  position: relative;
  width: calc(100% / 3 - 20px);
  background-color: #fefefe;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
  overflow: hidden;
}
#detail #cards .card .card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  padding: 20px;
  transition: 0.5s;
  opacity: 0;
  color: #7a7a7a;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
}
#detail #cards .card .card_overlay h3 {
  margin-bottom: 20px;
  color: #fefefe;
}
#detail #cards .card img {
  height: 60%;
}
#detail #cards .card:hover {
  cursor: pointer;
  transform: scale(1.025);
  border: 4px solid #FDC234;
  box-shadow: 0 0 36px 12px rgba(0, 0, 0, 0.6);
}
#detail #cards .card:hover .card_overlay {
  opacity: 1;
}
#detail #cart {
  margin: 40px;
  padding: 40px;
  width: 25%;
  font-size: 20px;
  border-radius: 20px;
  background-color: #FDC234;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
}
#detail #cart ul {
  list-style: none;
}

@media screen and (max-width: 1200px) {
  #jumbotron {
    height: 350px;
    background-position: center;
    background-size: cover;
  }
  #jumbotron .dark_layer {
    position: relative;
    padding: 60px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  #jumbotron h1 {
    position: absolute;
    bottom: 60px;
    font-size: 48px;
    word-wrap: break-word;
    color: #fefefe;
    text-transform: uppercase;
  }

  #detail {
    height: 400px;
  }
  #detail #cards {
    padding: 20px;
  }
  #detail #cards .card {
    width: calc(100% / 2 - 20px);
  }
  #detail #cards .card img {
    height: 60%;
  }
  #detail #cart {
    padding: 20px;
    width: 25%;
    border-radius: 20px;
  }
}
@media screen and (max-width: 768px) {
  #jumbotron {
    height: 225px;
    background-position: center;
    background-size: cover;
  }
  #jumbotron .dark_layer {
    position: relative;
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  #jumbotron h1 {
    position: absolute;
    bottom: 30px;
    font-size: 48px;
    word-wrap: break-word;
    color: #fefefe;
    text-transform: uppercase;
  }

  #detail {
    color: #7a7a7a;
    height: 500px;
  }
  #detail #cards {
    width: 100%;
    padding: 60px;
  }
  #detail #cards .card {
    width: calc(100% - 20px);
  }
  #detail #cards .card img {
    height: 60%;
  }
  #detail #cart {
    display: none;
  }
}
