#statistics {
    width: 100%;
    height: 100%;
    padding: 10px;
    .spinner {
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 200px 0;
      i {
        font-size: 10rem;
        color: $yellow;
      }
    }
    .chart_container_lg, .chart_container_md {
        margin: auto;
        max-width: 800px;
        box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
        h6 {
          text-align: center;
        }
    }
    .chart_container_md {
      display: none;
    }

    #top_bot_dish {
      max-width: 800px;
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      p {
        box-shadow: 4px 4px 15px 1px rgba(0, 0, 0, 0.4);
        min-width: 250px;
        border-radius: 10px;
        padding: 10px;
        background-color: $yellow;
        font-weight: bold;
        font-size: 20px;
        word-wrap: break-word;
        margin-left: 15px;
        margin-right: 15px;
        .dish_name {
          margin-top: 10px;
          font-weight: normal;
        }
      }
    }
    #stat_data_container {
      display: flex;
      justify-content: space-around;
      .data {
        width: 50%;
        border-radius: 10px;
        .data-top {
          display: flex;
          background-color: #F9F9F9;
          border-radius: 5px;
          margin-top: 30px;
          align-items: center;
          .box {
            padding-top: 16px;
            text-align: center;
            width: calc(100% / 3);
            span {
              font-weight: bolder;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

@media screen and (min-width: 979px) {
  #statistics {
      #stat_data_container {
        .data {
          display: none;
        }
      }
  }
}

@media screen and (max-width: 680px) {
  #statistics {
      .chart_container_lg {
        display: none;
      }

      .chart_container_md {
        display: block;
        padding: 10px;
      }

      #stat_data_container {
        flex-direction: column;
        justify-content: content;
        .data {
          width: 100%;
        }
      }
  }
}

@media screen and (max-width: 1199px) {
  #statistics {
      #top_bot_dish {
        justify-content: center;
        flex-direction: column;
      }
  }
}

@media screen and (max-width: 800px) {
  #statistics {
      #top_bot_dish {
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
  }
}
