* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// SCROLLBAR PER TUTTO IL SITO
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $greyText;
}
::-webkit-scrollbar-thumb {
  background: $yellow;
  border-radius: 10px;
}

// button in slite Glovo
.deliveboo_button {
  background-color: $greenButton;
  border-radius: 10px;
  border: none;
  &:hover {
    background-color: $btnHover
  }
} 

a {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active in <2.1.8 */

{
  opacity: 0;
}