footer {
  background-color: $grey;
  color: $white;
  font-size: 18px;
  .row {
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    .single_column {
      width: calc(100% / 4);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      li:first-child {
        color: $yellow;
      }
      a {
        color: $withTextFooter;
        &:hover {
          text-decoration: none;
          color: $yellow;
        }
      }
      img {
        display: block;
        max-width: 125px;
        cursor: pointer;
      }
      #logo {
        max-width: 150px;
      }
    }
  }
}

// DISPOSITIVI MD
@media screen and (max-width: 992px) {
  .footer .row .single_column {
    padding: 10px;
    width: calc(100% / 3);
  }
  #logo {
    display: none;
  }
}

// DISPOSITIVI XS
@media screen and (max-width: 565px) {
  footer .row .single_column {
    padding: 0;
    font-size: 14px;
    width: 50%;
  }
  #tec {
    display: none;
  }
}
