#login-page {
  display: flex;
  align-items: center;
  height: calc(100vh - 55px);
  background-color: $white;
  background-image: linear-gradient(90deg, $white 57%, $yellow 43%);
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    .left-side {
      width: 60%;
      .register-box {
        h1 {
          padding-left: 16%;
          padding-bottom: 20px;
        }
        .form-register {
          width: 100%;
        }
      }
    }
    .right-side {
      display: flex;
      align-items: center;
      width: 40%;
      height: 100%;
      padding-left: 30px;
      background-color: $yellow;
      img {
        width: 100%;
      }
    }
  }
} 

@media screen and (max-width: 770px) {
  #login-page {
    height: 100%;
    background-color: $yellow;
    background-image: linear-gradient( $yellow 51%, $white 67%);
    .container {
    flex-direction: column-reverse;
      .left-side {
        width: 70%;
        .register-box {
          h1 {
            padding-top: 10px;
            padding-left: 0%;
            padding-bottom: 10px;
          }
          .form-register {
            width: 100%;
            padding-bottom: 20px;
          }
        }
      }
      .right-side {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        img {
          width: 70%;
        }
      }
    }
  } 

}