// JUMBOTRON ------------------------
#jumbotron {
  height: 500px;
  background-position: center;
  background-size: cover;
  .dark_layer {
    position: relative;
    padding: 100px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  h1 {
    position: absolute;
    bottom: 100px;
    font-size: 64px;
    word-wrap: break-word;
    color: $white;
    text-transform: uppercase;
  }
}

// background: linear-gradient(
// 0deg
// , rgba(20, 25, 34, 0.8), rgba(20, 25, 34, 1));
// DETTAGLIO ------------------------
#detail {
  height: 600px;
  background-color: lighten($yellow, 20%);
  #cards {
    padding: 40px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    .card_dish {
      position: relative;
      margin: 10px;
      width: calc(100% / 3 - 20px);
      height: 450px;
      background-color: $white;
      border-radius: 20px;
      box-shadow: 0 0 10px 5px rgba(0,0,0, 0.6);
      transition: 0.5s;
      overflow: hidden;
      .img_div {
        position: relative;
        height: 60%;
        overflow: hidden;
        .img_layer {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(220deg, rgba(255, 255, 255, 0) 50%, rgba(0,0,0,0.6) 100%);
          transition: 0.5s;
        }
        // &::before {
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   width: 100%;
        //   height: 100%;
        //   background: linear-gradient(220deg, rgba(255, 255, 255, 0) 50%, rgba(0,0,0,0.6) 100%);
        //   transition: 0.5s;
        // }
        img {
          height: 100%;
          transition: 0.5s;
        }
        h5 {
          position: absolute;
          left: 20px;
          bottom: 10px;
          color: white;
        }
      }
      .card_body {
        padding: 20px;
        .buttons {
          float: right;
          height: 100px
        }
      }
      // &:hover {
      //   cursor: pointer;
      //   transform: scale(1.025);
      //   border: 6px solid $yellow;
      //   box-shadow: 0 0 36px 12px rgba(0,0,0, 0.75);
      // }
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 36px 12px rgba(0,0,0, 0.75);
        img {
          transform: scale(1.05);
        }
        .img_layer {
          transform: scale(1.05);
        }
      }
    }
  }
  #cart {
    margin: 40px;
    padding: 40px;
    width: 25%;
    font-size: 20px;
    border-radius: 20px;
    background-color: $yellow;
    box-shadow: 0 0 10px 5px rgba(0,0,0, 0.6);
    ul {
      list-style: none;
    }
  }
}

// MEDIA QUERIES ------------------------
// lg - 1200px
// md - 768px
// sm - 576px

// DISPOSITIVI LG
@media screen and (max-width: 1200px) {

  #jumbotron {
    height: 350px;
    background-position: center;
    background-size: cover;
    .dark_layer {
      position: relative;
      padding: 60px;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.4);
    }
    h1 {
      position: absolute;
      bottom: 60px;
      font-size: 48px;
      word-wrap: break-word;
      color: $white;
      text-transform: uppercase;
    }
  }
  
  #detail {
    height: 400px;
    #cards {
      padding: 20px;
      .card {
        width: calc(100% / 2 - 20px);
        img {
          height: 60%;
        }
      }
    }
    #cart {
      padding: 20px;
      width: 25%;
      border-radius: 20px;
    }
  }

}

// DISPOSITIVI MD
@media screen and (max-width: 768px) {

  #jumbotron {
    height: 225px;
    background-position: center;
    background-size: cover;
    .dark_layer {
      position: relative;
      padding: 30px;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.4);
    }
    h1 {
      position: absolute;
      bottom: 30px;
      font-size: 48px;
      word-wrap: break-word;
      color: $white;
      text-transform: uppercase;
    }
  }

  #detail {
    color: $greyText;
    height: 500px;
    #cards {
      width: 100%;
      padding: 60px;
      .card {
        width: calc(100% - 20px);
        img {
          height: 60%;
        }
      }
    }
    #cart {
      display: none;
    }
  }
}