main {
  background-color: $white;
  #jumbotron {
    width: 100%;
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $yellow;
    background-image: linear-gradient($yellow 69%, $white 95%);
    background-image: url('../img/jumbotron.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      display: flex;
      justify-content: center;
      padding-top: 8%;
      padding-left: 5%;
      .title {
        width: 50%;
        padding-top: 12%;
        padding-left: 10;
        color: black;
        font-weight: bold;
        font-size: 50px;
        h1, .h1 {
          font-size: 3.25rem;
       }
      }
      .jumb-img {
        width: 50%;
       img {
         width: 100%;
       }
      }

    }
  }

  #service {
    position: relative;
    h1 {
      position: absolute;
      top: 10px;
      right: 50%;
      transform: translateX(50%);
    }
    .box-cards {
      display: flex;
      padding-top: 80px;
      .service-card {
        width: calc(100% / 3 - 20px);
        text-align: center;
        margin: 10px;

      }
    }
  }

  #food {
    width: 100%;
    padding: 5% 0;
    .box-cards {
      display: flex;
      .card_food {
        width: calc(100% / 4 - 20px);
        margin: 10px;
        img {
          width: 200px;
        }
      }
    }
  }

  #carousel-type {
    marquee {
      margin-top: 4%;
      background-color: transparent;
      overflow: hidden;
      display: flex;
      align-items: center;
      overflow: hidden;
      div {
        position: relative;
        display: inline-block;
        margin-left: 15px;
        cursor: pointer;
        img {
          overflow: hidden;
          border-radius: 5px;
        }
        h5 {
          position: absolute;
          bottom: 0;
          left: 22px;
          font-size: 20px;
          font-weight: bold;
          color: white;
        }
      }
    }
  }

  #restaurants {
    width: 100%;
    padding: 5% 0;
    .box-cards {
      display: flex;
      .card_rest {
        position: relative;
        width: calc(100% / 3 - 20px);
        margin: 10px;
        height: 200px;
        transition: all 0.4s;
        box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
        overflow: hidden;
        border-radius: 10px;
        transition: all 0.4s;
        &:hover{
          transform: scale(1.02);
          box-shadow: 0px 0px 80px -25px rgba(0,0,0, 0.5);
          transition: all 0.4s;
        }
        img {
          width: 100%;
          object-fit: cover;
        }
        h5 {
            position: absolute;
            bottom: 0;
            left: 22px;
            font-size: 20px;
            font-weight: bold;
            color: white;
          }
      }

    }
  }
}