#checkout {
  // DATI DI CHECKOUT
  #checkout_data {
    display: inline-block;
    margin: 50px 25px 50px 50px;
    width: 60%;
    background-color: $yellow;
    padding: 20px;
    border-radius: 20px;
  }  
  // CARRELLO
  #checkout_cart {
    display: inline-block;
    margin: 50px 50px 50px 25px;
    width: 40%;
    background-color: $yellow;
    // padding: 20px;
    // border-radius: 20px;
    ul {
      list-style: none;
      li {
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 20px;
      }
    }
  }
  .deliveboo_button {
    float: right;
    padding: 15px;
    color: $white;
  }
}