#jumbotron {
  position: relative;
  height: 500px;
  background-position: center;
  background-size: cover;
  .dark_layer {
    padding: 100px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  h1 {
    position: absolute;
    bottom: 100px;
    font-size: 64px;
    word-wrap: break-word;
    color: $white;
    text-transform: uppercase;
  }
}

#detail {
  color: $greyText;
  height: 500px;
  #cards {
    padding: 40px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    .card {
      // margin: 10px;
      width: calc(100% / 3 - 20px);
      background-color: $white;
      border-radius: 20px;
      box-shadow: 0 0 10px 5px rgba(0,0,0, 0.5);
      transition: 0.5s;
      overflow: hidden;
      img {
        height: 60%;
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.025);
      }
    }
  }
  #cart {
    padding: 20px;
    width: 25%;
    border-radius: 20px;
    background-color: $yellow;
  }
}

// MEDIA QUERY
// lg - 992px
// md - 768px
// sm - 576px

// DISPOSITIVI MD
@media screen and (max-width: 1200px) {

  #jumbotron {
    height: 350px;
    .dark-layer {
      padding: 60px;
      h1 {
        bottom: 60px;
        font-size: 48px;
      }
    }
  }
  
  #detail {
    color: $greyText;
    height: 500px;
    #cards {
      padding: 40px;
      .card {
        // margin: 10px;
        width: calc(100% / 2 - 20px);
        img {
          height: 60%;
        }
      }
    }
    #cart {
      padding: 20px;
      width: 25%;
      border-radius: 20px;
    }
  }

}

// DISPOSITIVI SM
@media screen and (max-width: 750px) {
  #jumbotron {
    height: 350px;
    .dark-layer {
      padding: 60px;
      h1 {
        bottom: 60px;
        font-size: 48px;
      }
    }
  }
  #detail {
    color: $greyText;
    height: 500px;
    #cards {
      width: 100%;
      padding: 40px;
      .card {
        // margin: 10px;
        width: calc(100% - 20px);
        img {
          height: 60%;
        }
      }
    }
    #cart {
      display: none;
    }
  }
}