main {
  background-color: $white;
  #jumbotron {
    position: relative;
    .layover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient( rgba(253, 194, 52, 0) 69%, $white 95%);
    }
    width: 100%;
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $yellow;
    background-image: linear-gradient($yellow 69%, $white 95%);
    background-image: url('../img/jumb-3.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      display: flex;
      justify-content: center;
      padding-top: 8%;
      padding-left: 5%;
      .title {
        width: 50%;
        padding-top: 30px;
        padding-left: 10;
        color: black;
        font-weight: bold;
        font-size: 50px;
        h1, .h1 {
          font-size: 4.25rem;
          font-weight: 900 !important;
       }
      }
      .jumb-img {
        width: 50%;
       img {
         width: 100%;
       }
      }

    }
  }

  #service {
    position: relative;
    h1 {
      position: absolute;
      top: 10px;
      right: 50%;
      transform: translateX(50%);
    }
    .box-cards {
      display: flex;
      padding-top: 80px;
      .service-card {
        width: calc(100% / 3 - 20px);
        text-align: center;
        margin: 10px;

      }
    }
  }

  #food {
    width: 100%;
    padding: 5% 0;
    background-color: #fdc234;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    .box-cards {
      display: flex;
      .card_food {
        width: calc(100% / 4 - 20px);
        margin: 10px;
        img {
          width: 200px;
        }
      }
    }
  }

  #carousel-type {
    .types {
      margin-top: 4%;
      margin-bottom: 4%;
      background-color: transparent;
      overflow: hidden;
      display: flex;
      align-items: center;
      overflow: hidden;
      div {
        position: relative;
        display: inline-block;
        margin-left: 15px;
        cursor: pointer;
        img {
          overflow: hidden;
          border-radius: 5px;
        }
        h5 {
          position: absolute;
          bottom: 0;
          left: 22px;
          font-size: 20px;
          font-weight: bold;
          color: white;
        }
      }
    }
  }

  #restaurants {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fdc234;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    h1 {
      display: block;
      width: 100%;
    }
    .card_rest {
      position: relative;
      margin: 10px;
      height: 200px;
      width: calc(100% / 3 - 20px);
      border-radius: 20px;
      overflow: hidden;
      color: white;
      transition: 1s;
      &:hover {
        cursor: pointer;
        transform: scale(1.025);
        .overlay {
          width: 80%;
          transition: 1s;
        }
        h3 {
          transform: translate(-120%);
          opacity: 0;
          font-size: 36px;
        }
      }
      a {
        color: inherit;
        .layover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgb(255,255,255);
          background: linear-gradient(330deg, rgba(255,255,255,0.05955885772277658) 50%, rgba(0,0,0,1) 100%);
          h3 {
            position: absolute;
            margin: 20px;
            display: inline-block;
            transition: 1.5s;
            font-size: 36px;
          }
        }

        .overlay {
          display: inline-block;
          position: absolute;
          right: -40px;
          padding: 20px;
          height: 100%;
          width: 0%;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 20px;
          z-index: 2;
          position: absolute;
          h2 {
            margin: 10px 0 0 10px;
          }
          p {
            margin: 10px 0 0 10px;
            &:nth-of-type(2) {
              margin: 0 0 0 10px
            }
          }
        }
      }
    }
  }
}