#page-404 {
  background-color: #FFFFFF;
  padding-bottom: 50px;
  .container {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    h1 {
      padding-top: 20px;
    }
    img {
      width: 600px;
    }
  }
}